<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>S.N.K Enterprises</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="~/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="~/css/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="~/css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />

</head>

<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('../../img/background01.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- Nav -->
        <nav id="nav" class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="container">

                <div class="navbar-header">
                    <!-- Logo -->
                    <a class="navbar-brand" href="~/Home/Index">

                        <img src="../../img/SNkjp.jpeg" alt="logo" style="height: 80px; width: 160px; margin-top: -10px;">
                    </a>
                    <!-- /Logo -->
                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#registration">Registrations</a></li>
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#whyUs">Why Us?</a></li>
                    <li><a href="#team">Partners</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <!-- /Main navigation -->

            </div>
        </nav>
        <!-- /Nav -->
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">We're your dedicated partner</h1>
                            <p class="white-text">
                                in efficient goods transport solutions. Specializing in seamless material delivery for businesses.
                            </p>
                            @*<button class="white-btn">Get Started!</button>
                            <button class="main-btn">Learn more</button>*@
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->
    <!-- About -->
    <div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">We are S.N.K Enterprises, where connectivity meets reliability, and your success is our destination.</h2>
                </div>
                <!-- /Section header -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-check"></i>
                        <h3>Who Are We</h3>
                        <p>We are a dynamic and forward-thinking goods transport company committed to redefining industry standards and delivering unparalleled logistics solutions. With a passion for excellence and a customer-centric approach, we stand as a reliable partner for businesses seeking seamless and efficient transportation services.</p>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-check"></i>
                        <h3>Vision Statement</h3>
                        <p>At S.N.K, we aspire to redefine the standards of excellence in the goods transport industry. Our vision is to be recognized as the foremost choice for reliable, efficient, and innovative transportation solutions. We envision a future where seamless connectivity and sustainability converge, empowering businesses and communities to thrive through our commitment to excellence.</p>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-check"></i>
                        <h3>Mission Statement</h3>
                        <p>Our mission is to deliver unparalleled transportation services that exceed the expectations of our clients. We are dedicated to providing a comprehensive range of logistics solutions characterized by reliability, timeliness, and sustainability. Through continuous innovation and a customer-centric approach, we aim to optimize supply chains and foster economic growth.</p>
                    </div>
                </div>
                <!-- /about -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /About -->

    <!-- Service -->

    <!-- /Service -->
    <!-- Why Choose Us -->
    <div id="whyUs" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- why choose us content -->
                <div class="col-md-6">
                    <div class="section-header">
                        <h2 class="title">Why Choose Us</h2>
                    </div>
                    <p>S.N.K Enterprises has strong plans in pipeline for the future which will strength existing business operation and will also create more diversification to make greater impact on industry and country. Our mission is fueled by a passion for excellence, integrity, and social responsibility. We strive to build lasting partnerships with our clients, employees, and stakeholders, fostering a culture of teamwork and continuous improvement. By embracing cutting-edge technologies and best practices, we are committed to being a driving force in the evolution of the goods transport industry, creating value for all those we serve.</p>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Well Balanced.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Your Premier Partner.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>Loyal to Principles and Clients.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-check"></i>
                        <p>National Presence.</p>
                    </div>
                </div>
                <!-- /why choose us content -->
                <!-- About slider -->
                <div class="col-md-6">
                    <div id="about-slider" class="owl-carousel owl-theme">
                        <img class="img-responsive" src="../../img/1.jpg" alt="">
                        <img class="img-responsive" src="../../img/2.jpg" alt="">
                        <img class="img-responsive" src="../../img/3.jpg" alt="">
                        <img class="img-responsive" src="../../img/4.jpg" alt="">
                    </div>
                </div>
                <!-- /About slider -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Why Choose Us -->
    <!-- Numbers -->
    <div id="numbers" class="section sm-padding">

        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('../../img/background02.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- number -->
                <div class="col-sm-4 col-xs-6">
                    <div class="number">
                        <i class="fa fa-handshake-o"></i>
                        <h3 class="white-text"><span class="counter">Synergy</span></h3>
                        <span class="white-text"></span>
                    </div>
                </div>
                <!-- /number -->
                <!-- number -->
                <div class="col-sm-4 col-xs-6">
                    <div class="number">
                        <i class="fa fa-leaf"></i>
                        <h3 class="white-text"><span class="counter">Nurture</span></h3>
                        <span class="white-text"></span>
                    </div>
                </div>
                <!-- /number -->
                <!-- number -->
                <div class="col-sm-4 col-xs-6">
                    <div class="number">
                        <i class="fa fa-trophy"></i>
                        <h3 class="white-text"><span class="counter">Kaizen (Continuous Improvement)</span></h3>
                        <span class="white-text"></span>
                    </div>
                </div>
                <!-- /number -->
          

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Numbers -->
    <!-- Testimonial -->
    <div id="testimonial" class="section md-padding">

        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('../../img/back2.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Testimonial slider -->
                <div class="col-md-10 col-md-offset-1">


                    <!-- testimonial -->
                    <p class="white-text" style="font-size:25px; text-align:center;">Connecting Possibilities, Delivering Certainties.</p>



                </div>
                <!-- /Testimonial slider -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Testimonial -->
    <!-- Portfolio -->
    <div id="registration" class="section md-padding bg-grey">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Our Business Partners</h2>
                </div>
                <!-- /Section header -->
                <!-- Work -->
                <p>Forging Success Together: Nurturing Meaningful Collaborations with Our Valued Business Partners.</p>

                <div class="col-md-6 col-xs-6 work">
                    <img class="img-responsive" src="../../img/awan.jpg" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Trusted Collaborations: Our Valued Business Partnership</span>
                        <h3>AWAN TRADING CO (PVT) LTD</h3>

                    </div>
                </div>
                <!-- /Work -->
                <!-- Work -->
             @*    <div class="col-md-6 col-xs-6 work">
                    <img class="img-responsive" src="../../img/Govt.png" alt="">
                    <div class="overlay"></div>
                    <div class="work-content">
                        <span>Registered With</span>
                        <h3>Government</h3>

                    </div>
                </div> *@
                <!-- /Work -->
                <!-- Work -->
                <!-- /Work -->


            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Portfolio -->
    <!-- Team -->
@*     <div id="team" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">Our Business Partners</h2>
                </div>
                <!-- /Section header -->
                <!-- team -->
                <div class="col-sm-4">
                    <img class="img-responsive" src="../../img/awan.jpg" alt="">
                </div>
                <!-- /team -->  
                <!-- team -->
   

              
                <!-- /team -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div> *@
    <!-- /Team -->
    <!-- Contact -->
    <div id="contact" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section-header -->
                <div class="section-header text-center">
                    <h2 class="title">Get in touch</h2>
                </div>
                <!-- /Section-header -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-phone"></i>
                        <h3>Phone</h3>
                        <p>+92 333-7944410</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact -->    
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-envelope"></i>
                        <h3>Email</h3>
                        <p>snkenterprises.int@gmail.com</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact -->
                <div class="col-sm-4">
                    <div class="contact">
                        <i class="fa fa-map-marker"></i>
                        <h3>Address</h3>
                        <p>Plot No C-17-C 24th Commercial Street, DHA Phase 2 EXT, Karachi, Pakistan</p>
                    </div>
                </div>
                <!-- /contact -->
                <!-- contact form -->

                <div class="col-md-8 col-md-offset-2">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "contact-form" }))
                    {
                        <input type="text" name="name" class="input" placeholder="Name">
                        <input type="email" name="email" class="input" placeholder="Email">
                        <input type="text" name="subject" class="input" placeholder="Subject">
                        <textarea class="input" name="message" placeholder="Message"></textarea>
                        <button class="main-btn" type="submit">Send message</button>
                    }
                </div>

                <!-- /contact form -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Contact -->
    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">

                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a href="~/Home/Index"><img src="../../img/IMG_2908.png" alt="logo"></a>
                    </div>
                    <!-- /footer logo -->
                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="https://www.facebook.com/profile.php?id=61553818818004&mibextid=9R9pXO"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <!-- /footer follow -->
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        <p>Copyright © 2023. All Rights Reserved by S.N.K Enterprises. Developed by <a href="/Home/NJSoftwares">NJ Softwares Worldwide</a></p>
                    </div>
                    <!-- /footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->
    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->
    <!-- jQuery Plugins -->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>

</body>

</html>
